@tailwind base;
@tailwind components;
@tailwind utilities;

.section-padding {
    @apply py-4 lg:py-12;
}

/* Hero btn gold effect */
.gold-effect {
    height: 75px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        #77530a,
        #ffd277,
        #77530a,
        #77530a,
        #ffd277,
        #77530a
    );
    background-size: 200%;
    background-position: 100%;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    animation: btnBorderAnimation 10s linear infinite;
}

.gold-effect::before {
    position: absolute;
    content: "";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 95%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}

@keyframes btnBorderAnimation {
    0%,
    100% {
        background-position: 0%;
    }
    50% {
        background-position: 200%;
    }
}
